/*
 * RESET
 * Based on Eric Meyer's Reset CSS
 * http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) 
 */
html, body, div, span, h1, h2, h3, h4, h5, p, a, address, em, img,
small, strong, b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, input, select, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background: url("../img/bkg_body.png") no-repeat scroll left top #562E84;
    background-size: 100% auto;
}

ol, ul { list-style: none; }

strong { font-weight: 700; }

img {border: 0; -ms-interpolation-mode: bicubic;}

a:focus,a:active,a:hover {outline: 0;}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

hr { display: none; }

/* ESTRUTURA */

#outer-wrapper {
    width: 851px;
    margin: 0 auto;
}

#inner-wrapper {
    background-color: #FFF;
    -moz-box-shadow: 6px 0 24px 0 #11091A;
    -webkit-box-shadow: 6px 0 24px 0 #11091A;
    -o-box-shadow: 6px 0 24px 0 #11091A;
    -ms-box-shadow: 6px 0 24px 0 #11091A;
    box-shadow: 6px 0 24px 0 #11091A;
    margin: 0 0 0 19px;
    padding-bottom: 10px;
    width: 790px;
}

/* HEADER */

#header {
    background: #4a2772 url("../img/bkg_header.png") no-repeat;
    height: 207px;
    position: relative;
}

#contact {
    font-size: 15px;
    height: 50px;
    line-height: 130%;
    position: absolute;
    right: 39px;
    text-align: right;
    top: 96px;
    width: 155px;
}

#contact, #contact a {
    color: #FFFFFF;
    text-decoration: none;
}

#contact a:hover { text-decoration: underline; }

#nav {
    bottom: 0;
    height: 47px;
    left: 0;
    position: absolute;
    width: 788px;
}

#nav li {
    float: left;
    display: inline;
    height: 47px;
    line-height: 47px;
}

#nav a {color: #8F654D;font-size: 21px;font-weight: 600;text-align: center;text-decoration: none;}

.nav-home {width: 163px;}

.nav-home a {margin: 0 0 0 51px;}

.nav-sobre {width: 228px;text-align: center;}

.nav-solucoes {width: 200px;text-align: center;}

.nav-biblio {width: 195px;}

.nav-biblio a { margin: 0 0 0 22px; }

/* CONTENT */

.section {
    position: relative;
    color: #535355;
    font-size: 13px;
    line-height: 140%;
    text-align: justify;
}

.home .sidebar {
    position: relative;
    float: right;
    height: 500px;
    width: 173px;
}

.home-txt {
    padding: 18px 0 0 51px;
    width: 515px;
}

.home-txt p {
    margin: 10px 0 0 0;
}

.home-box-txt {
    background: url("../img/bkg_home_txt.jpg") no-repeat scroll 0 0 transparent;
    color: #4B2874;
    font-size: 13px;
    font-weight: 600;
    height: 76px;
    line-height: 18px;
    margin-top: 10px;
    padding: 35px 0 0 65px;
    width: 520px;
}

.home-box-txt a {
    color: #4b2874;
    font-size: 16px;
}

.home-box-logos {
    font-size: 13px;
    padding: 10px 0 10px 52px;
}

.home-logos-img {margin: 0 0 0 49px;}

.home-sidebar-links {
    position: relative;
    margin: 22px 0 0 0;
    width: 173px;
    height: 346px;
    background: url("../img/bkg_home_sidebar.jpg") no-repeat 0 0;
}

.home-sidebar-links li {
    position: absolute;
}

.home-sidebar-links a {
    color: #552D82;
    display: block;
    font-size: 10px;
    line-height: 13px;
    text-decoration: none;
}

.home-sidebar-links .treina {
    height: 159px;
    left: 17px;
    top: 7px;
    width: 152px;
}

.home-sidebar-links .treina a {
    padding: 128px 0 0;
}

.home-sidebar-links .projetos {
    left: 22px;
    top: 170px;
}

.home-sidebar-links .projetos a {
    padding: 114px 0 0;
}

.sidebar-link-blog {
    background: url("../img/btn_blog.png") no-repeat 0 0;
    display: block;
    height: 64px;
    margin: 8px 0 0 10px;
    width: 173px;
}

.sobre .section {
    width: 550px;
}

.sobre-title {
    font-size: 22px;
    margin: 42px 20px 0 50px;
}

.sobre-txt {
    margin: 35px 0 0;
    width: 352px;
}

.sobre-txt p {
    margin: 0 0 10px 0;
}

.sobre .sidebar {
    position: relative;
    float: right;
    width: 213px;
}

.sobre-solucoes {
    margin: 20px 0 0;
}

.sobre-solucoes li {
    width: 377px;
    height: 62px;
    margin: 0 0 7px -7px;
}

.btn-capacitacao {
    background: url("../img/btn_capacitacao.png") no-repeat 0 0;
}

.btn-assessoria {
    background: url("../img/btn_assessoria.png") no-repeat 0 0;
}

.sobre-solucoes a {
    float: right;
    height: 40px;
    margin: 9px 54px 0 0;
    width: 180px;
}

.sobre-box {
    background: url("../img/bkg_box_sobre.png") no-repeat 0 0;
    height: 446px;
    position: relative;
    width: 213px;
    margin: 30px 0 15px;
}

.sobre-box-title {
    color: #562E84;
    font-size: 14px;
    position: absolute;
    text-align: center;
    top: 224px;
    width: 213px;
}

.scroll-wrapper {
    height: 190px;
    position: absolute;
    top: 251px;
    width: 213px;
}

.scroll-mask {
    width:180px;
    height: 135px;
    margin: 12px 0 0 20px;
    overflow: hidden;
}

.scroll-content {
    width:180px;
    height: 135px;
    overflow: hidden;
}

.scroll-content p {
    color: #000000;
    font-size: 12px;
    line-height: 130%;
    margin: 0 0 10px;
}

.scroll-up, .scroll-down {
    position: absolute;
    width: 25px;
    height: 25px;
}

.scroll-up {
    bottom: 15px;
    left: 28px;
}

.scroll-down {
    bottom: 2px;
    right: 21px;
}

.sobre-rh {
    background: url("../img/icon_mail.gif") no-repeat 0 0;
    color: #EEC218;
    display: block;
    font-size: 15px;
    font-weight: 600;
    height: 23px;
    line-height: 23px;
    margin: 0 0 0 15px;
    padding: 0 0 0 40px;
    text-decoration: none;
    width: 157px;
}

.solucoes .section { padding: 15px 0 0 0; }

.solucoes-title {
    font-size: 22px;
    letter-spacing: -1px;
    line-height: 23px;
    margin: 15px 20px 0 30px;
    text-align: right;
    width: 170px;
}

.solucoes-txt {
    margin: 10px 0 0;
    width: 485px;
    line-height: 19px;
}

.block-citation {
    border-left: 2px solid #CD4E52;
    border-right: 2px solid #CD4E52;
    height: 40px;
    margin: 5px auto;
    padding: 12px 22px;
    text-align: right;
    width: 612px;
}
.citation {
    color: #333333;
    display: block;
    font-size: 15px;
    font-style: italic;
    text-align: center;
}

.citation-author {
    color: #535355;
    display: block;
    font-size: 15px;
    padding: 3px 3px 0 0;
}

.solucoes .sobre-solucoes {
    margin: 15px 0 0;
    position: relative;
    width: 100%;
}

.solucoes .btn-assessoria {
    background: url("../img/btn_assessoria_2.png") no-repeat 0 0;
    position: absolute;
    right: -16px;
    top: 0;
    width: 385px;
}

.solucoes .btn-assessoria a {
    float: left;
    margin: 8px 0 0 45px;
}

.capacitacao #inner-wrapper {
    background: url("../img/bkg_foto_subpage.jpg") no-repeat right bottom #FFFFFF
}

.capacitacao .section {
    height: 556px;
}

.subpage-title {
    background: url("../img/bkg_subpage_title.png") no-repeat center top;
    color: #4D2977;
    font-size: 22px;
    height: 47px;
    padding: 55px 0 0;
    text-align: center;
}

.subpage-introtxt {
    margin: 5px 0 15px 58px;
    width: 568px;
}

.subpage-subtitle {
    font-size: 22px;
    letter-spacing: -1px;
    line-height: 23px;
    margin: 10px 17px 0 35px;
    text-align: right;
    width: 123px;
}

.subpage-txt {
    line-height: 19px;
    margin: 15px 0 0;
    width: 450px;
}

.assessoria .btn-capacitacao {
    background: url("../img/btn_como_funciona.png") no-repeat 0 0;
    width: 385px;
}

.biblioteca .section { padding: 30px 0 0 0; }

.publicacoes {
    margin: 0 19px 0 0;
    text-align: left;
    width: 385px;
}

.publicacoes-title {
    background: url("../img/bkg_title_publicacoes.png") no-repeat 0 0;
    height: 63px;
    margin: 0 0 0 -10px;
    width: 385px;
}

.publicacoes-list li {margin: 25px 35px 25px 25px;}

.publicacoes-list a {
    color: #535355;
    font-weight: 700;
    text-decoration: none;
}

.publicacoes-list a:hover {
    text-decoration: underline;
}

.sites {width: 385px;}

.sites-title {
    background: url("../img/bkg_title_sites.png") no-repeat 0 0;
    height: 63px;
    margin: 0 0 0 18px;
    width: 386px;
}

.sites-list li {
    float: left;
    text-align: center;
    width: 50%;
    margin: 12px 0;
}

.sites-list li.row {width: 100%;}

.sites-list strong {display: block;padding: 1px 0 3px 0;}

.sites-list a {text-decoration: none;color: #4D2977;}

.sites-list a:hover { text-decoration: underline; }

.column { float: left }

.hide-text { text-indent: 100%;white-space: nowrap;overflow: hidden; }

/* CLEARFIX - http://nicolasgallagher.com/micro-clearfix-hack */

.cf:before, .cf:after { content: " "; display: table; }

.cf:after { clear: both }

.cf { *zoom: 1; }